<% content_for :title, "Editing movie" %>

<div class="edit-movie-container">
  <h1>Editing movie</h1>

  <%= render "form", movie: @movie %>

  <div class="navigation-links">
    <%= link_to "Show this movie", @movie, class: "show-link" %>
    <%= link_to "Back to movies", movies_path, class: "back-link" %>
  </div>
</div>